## Import Libraries You Need

In [68]:
import requests
import pandas as pd
import numpy as np
import datetime
import pymysql
from ggplot import *
from configparser import ConfigParser
import json
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [43]:
#### OPTIONAL: IMPORT boto3 to download a useful file from S3 buacket
import boto3

## Grab Credentials Securely

### Using ConfigParser

In [69]:
config = ConfigParser()
config_file = 'config.ini'
config.read(config_file)

user = config['rds']['user']
password = config['rds']['pw']
hostname = config['rds']['host']
db_name = config['rds']['dbname']

api_key = config['quandl']['api_key']

## Connect to MySQL Database

In [92]:
connection = pymysql.connect(host=hostname,
                             user=user,
                             password=password,
                             db=db_name)

In [93]:
cursor = connection.cursor()

In [94]:
engine = create_engine('mysql://'+user+':'+password+'@'+hostname+':3306/'+db_name)

## Check out the documentation for the Quandl Zillow House Price API

Visit https://www.quandl.com/data/ZILLOW-Zillow-Real-Estate-Research/documentation/data-organization and review the documentation.

Now it's time to start querying! 

### 1) import the 'indicators.csv' file from the repo
I've already downloaded the file for you.

In [12]:
zillow_indicators = ### YOUR CODE HERE

##### Expected Output

In [14]:
zillow_indicators[:5]

                   INDICATOR|CODE
0  Age of Inventory (Public)|AOIP
1          Buyer Seller Index|BSI
2    Days on Zillow (Public)|DOZP
3          Home Sales (NSA)|SALES
4         Home Sales (SA)|SASALES

### 2) split the 'INDICATOR|CODE'  column into two separate columns, INDICATOR and CODE
Note: There are many ways to accomplish this goal, and I encourage you to use your own research powers to find the one that makes the most sense to you.

In [16]:
zillow_indicators['INDICATOR'], zillow_indicators['CODE'] = ### YOUR CODE HERE

##### Expected Output

In [17]:
zillow_indicators[:5]

                   INDICATOR|CODE                  INDICATOR     CODE
0  Age of Inventory (Public)|AOIP  Age of Inventory (Public)     AOIP
1          Buyer Seller Index|BSI         Buyer Seller Index      BSI
2    Days on Zillow (Public)|DOZP    Days on Zillow (Public)     DOZP
3          Home Sales (NSA)|SALES           Home Sales (NSA)    SALES
4         Home Sales (SA)|SASALES            Home Sales (SA)  SASALES

### 3) Get rid of the un-needed INDICATOR|CODE column

In [18]:
zillow_indicators  = ### YOUR CODE HERE

##### Expected Output

In [153]:
zillow_indicators[:5]

                   INDICATOR     CODE
0  Age of Inventory (Public)     AOIP
1         Buyer Seller Index      BSI
2    Days on Zillow (Public)     DOZP
3           Home Sales (NSA)    SALES
4            Home Sales (SA)  SASALES

### 4) Query the Quandl API for the 'Median Listing Price - All Homes' in the city of Iowa City Since 1/1/2010
Consult the documentation on this page for the appropriate geographic codes:
https://www.quandl.com/data/ZILLOW-Zillow-Real-Estate-Research/documentation/data-organization

Note that the URL is constructed as: ZILLOW/{AREA_CATEGORY}{AREA_CODE}__{INDICATOR_CODE} (with single underscore)

In [25]:
base_url = 'https://www.quandl.com/api/v3/datasets/ZILLOW/'

In [57]:
url = base_url + ###YOUR CODE HERE + '&api_key=' +api_key

In [58]:
response = requests.get(url)

##### Expected Output

In [60]:
output_json = response.json()
output_json

{'dataset': {'collapse': None,
  'column_index': None,
  'column_names': ['Date', 'Value'],
  'data': [['2018-07-31', 267900.0],
   ['2018-06-30', 268500.0],
   ['2018-05-31', 274900.0],
   ['2018-04-30', 285000.0],
   ['2018-03-31', 285000.0],
   ['2018-02-28', 289900.0],
   ['2018-01-31', 290000.0],
   ['2017-12-31', 279900.0],
   ['2017-11-30', 279000.0],
   ['2017-10-31', 279000.0],
   ['2017-09-30', 289900.0],
   ['2017-08-31', 274900.0],
   ['2017-07-31', 275000.0],
   ['2017-06-30', 269950.0],
   ['2017-05-31', 265000.0],
   ['2017-04-30', 258950.0],
   ['2017-03-31', 264900.0],
   ['2017-02-28', 269900.0],
   ['2017-01-31', 264950.0],
   ['2016-12-31', 249900.0],
   ['2016-11-30', 248450.0],
   ['2016-10-31', 249950.0],
   ['2016-09-30', 250500.0],
   ['2016-08-31', 249900.0],
   ['2016-07-31', 237500.0],
   ['2016-06-30', 230000.0],
   ['2016-05-31', 231000.0],
   ['2016-04-30', 229900.0],
   ['2016-03-31', 225000.0],
   ['2016-02-29', 240000.0],
   ['2016-01-31', 249900.0],
   ['2015-12-31', 239900.0],
   ['2015-11-30', 244900.0],
   ['2015-10-31', 249900.0],
   ['2015-09-30', 239950.0],
   ['2015-08-31', 242800.0],
   ['2015-07-31', 239500.0],
   ['2015-06-30', 238900.0],
   ['2015-05-31', 236000.0],
   ['2015-04-30', 239900.0],
   ['2015-03-31', 239900.0],
   ['2015-02-28', 249900.0],
   ['2015-01-31', 249900.0],
   ['2014-12-31', 249500.0],
   ['2014-11-30', 244900.0],
   ['2014-10-31', 240000.0],
   ['2014-09-30', 239700.0],
   ['2014-08-31', 248250.0],
   ['2014-07-31', 239900.0],
   ['2014-06-30', 239900.0],
   ['2014-05-31', 239900.0],
   ['2014-04-30', 225000.0],
   ['2014-03-31', 234700.0],
   ['2014-02-28', 244900.0],
   ['2014-01-31', 234900.0],
   ['2013-12-31', 229000.0],
   ['2013-11-30', 228000.0],
   ['2013-10-31', 233000.0],
   ['2013-09-30', 224900.0],
   ['2013-08-31', 212000.0],
   ['2013-07-31', 209900.0],
   ['2013-06-30', 209500.0],
   ['2013-05-31', 204900.0],
   ['2013-04-30', 199900.0],
   ['2013-03-31', 199900.0],
   ['2013-02-28', 198450.0],
   ['2013-01-31', 202000.0],
   ['2012-12-31', 198000.0],
   ['2012-11-30', 192700.0],
   ['2012-10-31', 197750.0],
   ['2012-09-30', 189900.0],
   ['2012-08-31', 187000.0],
   ['2012-07-31', 184900.0],
   ['2012-06-30', 187500.0],
   ['2012-05-31', 186450.0],
   ['2012-04-30', 189000.0],
   ['2012-03-31', 189700.0],
   ['2012-02-29', 189000.0],
   ['2012-01-31', 181450.0],
   ['2011-12-31', 194999.0],
   ['2011-11-30', 195500.0],
   ['2011-10-31', 195499.5],
   ['2011-09-30', 195249.5],
   ['2011-08-31', 193500.0],
   ['2011-07-31', 189900.0],
   ['2011-06-30', 187250.0],
   ['2011-05-31', 185900.0],
   ['2011-04-30', 186950.0],
   ['2011-03-31', 189000.0],
   ['2011-02-28', 189900.0],
   ['2011-01-31', 205000.0],
   ['2010-12-31', 195000.0],
   ['2010-11-30', 197888.0],
   ['2010-10-31', 195000.0],
   ['2010-09-30', 195000.0],
   ['2010-08-31', 199250.0],
   ['2010-07-31', 191000.0],
   ['2010-06-30', 188500.0],
   ['2010-05-31', 189900.0],
   ['2010-04-30', 185000.0],
   ['2010-03-31', 189900.0],
   ['2010-02-28', 191250.0],
   ['2010-01-31', 201700.0]],
  'database_code': 'ZILLOW',
  'database_id': 15209,
  'dataset_code': 'C322_MLPAH',
  'description': "The Zillow Home Value Index is Zillow's estimate of the median market value of median listing price - all homes within the city of Iowa City, IA. This data is calculated by Zillow Real Estate Research (www.zillow.com/research) using their database of 110 million homes.",
  'end_date': '2018-07-31',
  'frequency': 'monthly',
  'id': 35688806,
  'limit': None,
  'name': 'Zillow Home Value Index (City): Median Listing Price - All Homes - Iowa City, IA',
  'newest_available_date': '2018-07-31',
  'oldest_available_date': '2010-01-31',
  'order': None,
  'premium': False,
  'refreshed_at': '2018-09-17T05:59:47.271Z',
  'start_date': '2010-01-31',
  'transform': None,
  'type': 'Time Series'}}

### 5) Convert JSON Output to a DataFrame

In [64]:
data = ### YOUR CODE HERE
headers = ### YOUR CODE HERE
iowa_city_house_prices = pd.DataFrame(data=data,columns=headers)

##### Expected Output

In [65]:
iowa_city_house_prices[:10]

         Date     Value
0  2018-07-31  267900.0
1  2018-06-30  268500.0
2  2018-05-31  274900.0
3  2018-04-30  285000.0
4  2018-03-31  285000.0
5  2018-02-28  289900.0
6  2018-01-31  290000.0
7  2017-12-31  279900.0
8  2017-11-30  279000.0
9  2017-10-31  279000.0

### 6) Import All Cities file from zillow_cities.txt 
Note that this file is pipe-delimited ('|'). You might benefit from this documentation:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [50]:
zillow_cities = ### YOUR CODE HERE

##### Expected Output

In [51]:
zillow_cities[:10]

              AREA   CODE
0   Aaronsburg, PA  22759
1    Abbeville, AL   4309
2    Abbeville, GA  17572
3    Abbeville, LA  14615
4    Abbeville, MS  16597
5    Abbeville, SC  24719
6        Abbot, ME  19942
7   Abbotsford, WI   6609
8       Abbott, PA  20990
9  Abbottstown, PA  21077

## 7) Subset zillow_cities for only Iowa Cities
You might make use of the str.contains method for columns in Pandas

In [114]:
iowa_cities = ### YOUR CODE HERE

##### Expected Output

In [116]:
len(iowa_cities)

934

## 8) Loop through Iowa Cities, and Create a SQL Table with all Iowa City House Price Medians Since 1/1/2010
Make sure to handle missing cities from the API using the try... except... method!

In [155]:
for index, row in iowa_cities.iterrows():
    try:
        url = ### YOUR CODE HERE
        response = ### YOUR CODE HERE
        response_json = ### YOUR CODE HERE
        data = ### YOUR CODE HERE
        headers = ### YOUR CODE HERE
        city_house_prices = pd.DataFrame(data=data,columns=headers)
        city_house_prices['City'] = row['AREA']
        city_house_prices.to_sql(name='iowa_house_prices',con=engine,if_exists='append',index=False)
        print(row['AREA'],' extracted and uploaded')
    except Exception as ex:
        ### YOUR EXCEPTION HANDLING HERE

'dataset'
'dataset'
'dataset'
Adel, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Albia, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
Algona, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Altoona, IA  extracted and uploaded
'dataset'
'dataset'
Ames, IA  extracted and uploaded
Anamosa, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
Ankeny, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Arnolds Park, IA  extracted and uploaded
'dataset'
Asbury, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
Atlantic, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Bettendorf, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Bondurant, IA  extracted and uploaded
Boone, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Burlington, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Carlisle, IA  extracted and uploaded
'dataset'
Carroll, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Cedar Falls, IA  extracted and uploaded
Cedar Rapids, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
Centerville, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Cherokee, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Clarinda, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
Clear Lake, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
Clinton, IA  extracted and uploaded
'dataset'
Clive, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Coralville, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Council Bluffs, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Davenport, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Denison, IA  extracted and uploaded
'dataset'
'dataset'
Des Moines, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Dubuque, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Fairfield, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Forest City, IA  extracted and uploaded
'dataset'
Fort Dodge, IA  extracted and uploaded
Fort Madison, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Glenwood, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Granger, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Grimes, IA  extracted and uploaded
Grinnell, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Harlan, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Humboldt, IA  extracted and uploaded
'dataset'
Huxley, IA  extracted and uploaded
'dataset'
'dataset'
Independence, IA  extracted and uploaded
Indianola, IA  extracted and uploaded
'dataset'
'dataset'
Iowa City, IA  extracted and uploaded
Iowa Falls, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Jefferson, IA  extracted and uploaded
'dataset'
'dataset'
Johnston, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Keokuk, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Knoxville, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Lamoni, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Le Claire, IA  extracted and uploaded
'dataset'
Le Mars, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Marion, IA  extracted and uploaded
'dataset'
'dataset'
Marshalltown, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
Mason City, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Milford, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Monticello, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Muscatine, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
Nevada, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Newton, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
North Liberty, IA  extracted and uploaded
'dataset'
'dataset'
Norwalk, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Oelwein, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Orange City, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
Osceola, IA  extracted and uploaded
Oskaloosa, IA  extracted and uploaded
'dataset'
'dataset'

'dataset'
'dataset'
'dataset'
'dataset'
Ottumwa, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Panora, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Pella, IA  extracted and uploaded
'dataset'
'dataset'
Perry, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Pleasant Hill, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
Polk City, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Red Oak, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Sergeant Bluff, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Shenandoah, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Sioux Center, IA  extracted and uploaded
Sioux City, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Solon, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
Spencer, IA  extracted and uploaded
'dataset'
'dataset'
Spirit Lake, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Storm Lake, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Tiffin, IA  extracted and uploaded
'dataset'
Tipton, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
University Heights, IA  extracted and uploaded
'dataset'
'dataset'
Urbandale, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
Van Meter, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Vinton, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Washington, IA  extracted and uploaded
'dataset'
Waterloo, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
Waukee, IA  extracted and uploaded
'dataset'
Waverly, IA  extracted and uploaded
'dataset'
'dataset'
Webster City, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
West Des Moines, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
Williamsburg, IA  extracted and uploaded
'dataset'
'dataset'
Windsor Heights, IA  extracted and uploaded
'dataset'
Winterset, IA  extracted and uploaded
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'
'dataset'

##### Expected Output

In [156]:
iowa_city_data = pd.read_sql_query("SELECT * FROM iowa_house_prices LIMIT 100",connection)

In [157]:
iowa_city_data[:10]

         Date     Value      City
0  2018-08-31  307150.0  Adel, IA
1  2018-07-31  291400.0  Adel, IA
2  2018-06-30  291400.0  Adel, IA
3  2018-05-31  287655.0  Adel, IA
4  2018-04-30  286000.0  Adel, IA
5  2018-03-31  284700.0  Adel, IA
6  2018-02-28  283615.0  Adel, IA
7  2018-01-31  274900.0  Adel, IA
8  2017-12-31  287000.0  Adel, IA
9  2017-11-30  287000.0  Adel, IA

## Now that you have your data...
## 9) Which city had the highest month-over-month growth in median house prices? In which month?
Take a look at Pandas DataFrame.groupby() and Series.pct_change()

In [158]:
iowa_prices = pd.read_sql_query("""/*YOUR SQL QUERY HERE*/
                                --SELECT ... 
                                """
                                ,connection)

In [160]:
iowa_prices['pct_change'] = ### YOUR CODE HERE
iowa_prices[### YOUR CODE HERE]

## 10) Create a visualization of the 10 fastest growing Iowa cities for house prices

In [1]:
iowa_prices.sort_values(by=['pct_change'],ascending=False,inplace=True)

In [163]:
top_10_cities = ### YOUR CODE HERE

In [164]:
top_ten_prices = ### YOUR CODE HERE

In [150]:
top_ten_prices = ### FILL NA pct_change VALUES WITH 0
top_ten_prices['Date'] = ### CONVERT DATE TO DATETIME

In [1]:
from ggplot import *
#ggplot(### YOUR CODE HERE) + geom_line()